@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #F8EFE6;
  --foreground: #091426;
  --primary: #091426;
  --secondary: #006F66;
  --accent: #FFB95F;
}

.dark {
  --background: #091426;
  --foreground: #F8EFE6;
  --primary: #F8EFE6;
  --secondary: #FFB95F;
  --accent: #006F66;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navy: #091426;
  --color-teal: #006F66;
  --color-orange: #FFB95F;
  --font-inter: var(--font-inter);
  --font-manrope: var(--font-manrope);
  --font-open-sans: var(--font-open-sans);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Custom Utilities if needed */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide the clear and reveal buttons in password inputs for IE/Edge*/
input::-ms-reveal,
input::-ms-clear {
  display: none;
}